<div class="page-header">
    <h2 class="text-center">Reset Password</h2>
</div>


<div class="jumbotron text-center" ng-show="reset.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>

<div class="row show-hide-message" ng-show="reset.successMsg">
    <div class="alert alert-success">
        {{ reset.successMsg }}
    </div>
</div>

<div class="row show-hide-message" ng-show="reset.errorMsg">
    <div class="alert alert-danger">
        {{ reset.errorMsg }}
    </div>
</div>


<form ng-hide="reset.hide" ng-submit="reset.savePassword(regData, regForm.$valid,confirmed)" name="regForm" novalidate>

    <div class="col-md-6 form-group">
        <div ng-class="{'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
            <label>Password:</label>
            <input type="password" ng-disabled="reset.disabled" class="form-control" name="firstPassword" ng-model="firstPassword" ng-pattern="/^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/" ng-minlength="3" ng-maxlength="25"  required>
            <span ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)" class="text-danger">Password is required</span>
            <br>
            <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="text-danger">
                <li>Must have atleast one uppercase letter</li>
                <li>Must have atleast one lowercase letter</li>
                <li>Must have atleast one number</li>
                <li>Must have atleast one special character</li>
                <li>Must be atleast 8 but no more than 35</li>
            <br>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div ng-class="{'has-success': confirmed && !regForm.confirmPassword.$error.required, 'has-error': (!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (!regForm.confirmPassword.$valid && regForm.$submitted) }">
            <label>Confirm Password:</label>
            <input type="password" ng-disabled="reset.disabled" class="form-control" name="confirmPassword" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm"  required>
            <span ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)" class="text-danger">Confirm Password is required</span>
            <br>
            <span class="text-danger" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Password do not match</span>
            <br>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" ng-disabled="reset.disabled" class="btn btn-group-justified btn-primary btn-lg">Reset Password</button>
        </div>
    </div>
</form>


<br>
