
<br>

<div class="container">
    <div class="col-md-3">
        <br>
        <img class="mythumbnail thumbnail" ng-src="{{ main.prof_photo }}">
        <button type="button" name="edit_profile" class="btn btn-md btn-primary" ng-click="main.openModal()"  data-target="#myModal">Update Profile Picture</button>
    </div>
    <div class="col-md-3">
        <div class="row">
            <h3>{{ main.name }}</h3>
        </div>
        <div class="row">
            <label >{{ main.email }}&nbsp;( Email )</label>
        </div>
        <div class="row">
            <label >{{ main.username }}&nbsp;( Username )</label>
        </div><br>
        <div class="row">
            <label><strong>Friends</strong></label>
        </div>
        <div class="row">
            <label>100</label>
        </div>
    </div>
    <div class="col-md-2">
        <br>
        <button type="button" name="edit_profile" class="btn btn-md btn-primary" ng-click="main.openModal()"  data-target="#myModal">Edit Profile</button>
    </div>
</div>
<br><br>


<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Change Profile Picture</h4>
      </div>
      <div class="modal-body">
          <div class="progress" ng-show="uploading" >
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only"></span>
            </div>
          </div>

            <img class="mythumbnail" ng-src="{{ thumbnail.dataUrl }}" ng-show="notFinished">
            <br>
            <br>
            <div ng-show="message">
                <div ng-class="alert">
                    {{message}}
                </div>
            </div>

          <form ng-submit="Submit();" method="post" enctype="multipart/form-data">
              <input type="file" name="myFile" file-model="file.upload" ng-disabled="uploading" id="fileUploader" class="form-control" onchange="angular.element(this).scope().photoChanged(this.files)"><br>
              <button type="submit" class="btn btn-md btn-success" ng-disabled="uploading" >Upload Image</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md btn-danger" data-dismiss="modal">Done</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
