<div class="page-header">
    <h2 class="text-center">User Management</h2>
</div>

<br>

<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">
        {{ management.showMoreError }}
    </div>
</div>

<div class="jumbotron text-center" ng-show="management.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Loading...</p>
</div>

<br>


<div class="showmore">
        <div class="input-group">
            <span class="input-group-addon"><strong>Results to Display:</strong></span>
            <div class="col-md-3">
                <input type="text" class="form-control" ng-model="number">
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="management.showMore(number);" class="btn btn-primary">Apply Filter</button>
                <button type="button" ng-click="management.showAll();"class="btn btn-warning">Show All</button>
            </div>
        </div>
</div>

<br><br>

<div class="showmore">
    <div class="input-group">
        <span class="input-group-addon"><strong>Search For:</strong></span>
        <div class="col-md-3">
            <input type="text" name="search" ng-model="searchKeyword">
        </div>
        <div class="col-md-5">
            <button type="button" name="button" ng-click="management.search(searchKeyword, number);" class="btn btn-primary">Search</button>
            <button type="button" name="button" ng-click="management.clear();" class="btn btn-primary">Clear</button>
            <a href="/search">
                <button type="button" name="button" class="btn btn-warning">Advanced Search</button>
            </a>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
        <div ng-show="searchFilter !== undefined" class="alert alert-success">
            <p><strong>Total Results:&nbsp;&nbsp;</strong>{{ (management.users | filter: searchFilter).length }}</p>
            <p><strong>Showing:&nbsp;&nbsp;</strong>{{ (management.users | filter: searchFilter | limitTo: management.limit).length }}</p>
        </div>
    </div>
</div>




<div class="panel panel-primary">
    <div class="panel-heading">
        <center><strong>User Management</strong><center>
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="person in management.users | filter: searchKeyword | limitTo: management.limit">
            <td><img ng-src="{{person.prof_photo}}" class="img-circle changer"></td>
            <td>{{person.name}}</td>
            <td>{{person.username}}</td>
            <td>{{person.email}}</td>
            <td>
                <a href="/edit/{{person._id}}">
                    <button type="button" ng-show="management.editAccess" class="btn btn-success">Edit</button>
                </a>
                    <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </table>
</div>

<div class="row show-hide-message" ng-show="main.successMsg">
    <div class="alert alert-success">
        {{ management.successMsg }}
    </div>
</div>

<div class="row show-hide-message" ng-show="main.errorMsg">
    <div class="alert alert-danger">
        {{ management.errorMsg }}
    </div>
</div>

<br><br>
<button type="button" ng-click="management.showMore(number);" class="btn btn-primary">Apply Filter</button>
<button type="button" ng-click="management.showAll();"class="btn btn-warning">Show All</button>
<div class="showmore">
    <div class="col-md-3">
        <div class="input-group">
            <span class="input-group-addon"><strong>Results to Display:</strong></span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>
<br /><br />
